
<script id="template-settings-bitpassword" type="x-tmpl-mustache">
  <ignore>
    <div class="settings-boxes">
      <h3><i class="pe-7s-key"></i> {{settings_bitpassword}}</h3>
      <div class="text">
        <p>{{{settings_bitpassword_text}}}</p>
      </div>
      <div class="form-wrapper">
        <div class="form-head">
          <p class="lg">{{settings_bitpassword_form_head}}</p>
        </div>
        <form action="" method="POST">		
          <div class="form-group half"><span class="msg"></span>
            <input type="password" name="password_existing" placeholder="{{settings_bitpassword_existing_placeholder}}" value="" class="existing"/>
          </div>
          <div class="form-group half clear"><span class="msg"></span>
            <input type="password" name="password" placeholder="{{settings_bitpassword_password_placeholder}}" value="" class="new"/>
          </div>
          <div class="form-group half"><span class="msg"></span>
            <input type="password" name="password_re" placeholder="{{settings_bitpassword_password_re_placeholder}}" value="" class="new_re"/>
          </div>
          <div class="form-group"><span class="msg"></span>
            <input type="text" name="password_hint" placeholder="{{settings_bitpassword_hint_placeholder}}" value=""/>
          </div>
          <div class="submit-group"><span class="msg"></span>
            <button class="submit">{{settings_bitpassword_submit}}</button>
          </div>
        </form>
      </div>
    </div>
  </ignore>
</script>