
<script id="template-settings-email2snapbit" type="x-tmpl-mustache">
  <ignore>
    <div class="settings-boxes">
      <h3><i class="pe-7s-mail"></i> {{settings_mail_to_snapbit}}</h3>
      <div class="text">
        <p>{{{settings_mail_to_snapbit_text}}}</p>
      </div>
      <div class="form-wrapper">
        <div class="form-head">
          <p>{{settings_mail_to_snapbit_form_head}}</p>
        </div>
        <form action="" method="POST">{{#emails}}
          <div class="form-group mid inline-delete"><span class="msg"></span>
            <input type="email" placeholder="{{settings_reminder_email_placeholder}}" value="{{.}}" disabled="disabled" class="email-field"/><span class="delete"><span class="pe-7s-close-circle"></span></span>
          </div>{{/emails}}
          <div class="form-group mid inline-delete"><span class="msg"></span>
            <input type="email" placeholder="{{settings_mail_to_snapbit_email_placeholder}}" value="" class="email-field"/><span class="delete"><span class="pe-7s-close-circle"></span></span>
          </div>
        </form>
      </div>
    </div>
  </ignore>
</script>