
<script id="template-settings-page-plans" type="x-tmpl-mustache">
  <ignore>
    <div class="settings-plans">
      <div class="plans">
        <div class="plan blue">
          <div class="plan-head">
            <h2><strong>Free</strong> limited</h2>
            <p>and you can unlock all features through sharing.</p>
          </div>
          <div class="plan-features">
            <p>With this plan you can:</p>
            <ul class="features">
              <li>Add text bits</li>
              <li>Tag and colour code bits</li>
              <li class="locked">Add images, audio and upload files</li>
              <li class="locked">Set reminders</li>
              <li class="locked">Lock bits for extra security</li>
            </ul>
            <p>
              When you are ready, follow simple instructions to upgrade your free account to the full 
              plan by sharing the SnapBits goodness with your friends.
            </p>
          </div>{{#downgrade}}
          <div class="select"><a href="#" class="free">Downgrade now</a></div>{{/downgrade}}
        </div>
        <div class="plan green">
          <div class="plan-head">
            <h2>Only <strong>$1.95</strong> <em>PM</em></h2>
            <p>for the full suite of features SnapBits offers!</p>
          </div>
          <div class="plan-features">
            <p>With this plan you can:</p>
            <ul class="features">
              <li>Add text bits</li>
              <li>Tag and colour code bits</li>
              <li>Add images, audio and upload files</li>
              <li>Set reminders</li>
              <li>Lock bits for extra security</li>
            </ul>
            <p>
              You have full control of your account and have the ability to pause your subscription 
              at any time without losing your stored bits.
            </p>
          </div>{{#upgrade}}
          <div class="select"><a href="#settings/subscribe" class="premium">Upgrade now</a></div>{{/upgrade}}
        </div>
      </div>
    </div>
  </ignore>
</script>