
<script id="template-settings-popup-success" type="x-tmpl-mustache">
  <ignore>
    <div class="popup-modal">
      <div class="popup-container">
        <div class="popup-content-wrapper">
          <div class="popup-content">
            <div class="checkmark-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" class="checkmark">
                <circle cx="26" cy="26" r="25" fill="none" class="checkmark__circle"></circle>
                <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" class="checkmark__check"> </path>
              </svg>
            </div>
            <div class="heading">
              <h3>{{msg}}</h3>
            </div>
            <div class="button-close"><a href="#">{{btn}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </ignore>
</script>