
<script id="template-color-chooser" type="x-tmpl-mustache">
  <div class="color-chooser">
    <ul class="colors">
      <li><span data-color="fe4556" class="color-icon color-fe4556"><span class="pe-7s-close"></span></span></li>
      <li><span data-color="ff9100" class="color-icon color-ff9100"><span class="pe-7s-close"></span></span></li>
      <li><span data-color="ffce00" class="color-icon color-ffce00"><span class="pe-7s-close"></span></span></li>
      <li><span data-color="5dd8a0" class="color-icon color-5dd8a0"><span class="pe-7s-close"></span></span></li>
      <li><span data-color="58a8e1" class="color-icon color-58a8e1"><span class="pe-7s-close"></span></span></li>
      <li><span data-color="a86ae2" class="color-icon color-a86ae2"><span class="pe-7s-close"></span></span></li>
    </ul>
  </div>
</script>