
<script id="template-media-doc" type="x-tmpl-mustache">
  <ignore>
    <div class="doc-viewer"><span class="file-icon"><span class="pe-7s-file"></span></span><span class="title">{{filename}}</span><span class="actions">{{#url}}<a href="{{url}}" class="dl"><span class="pe-7s-download"></span></a><a href="{{url}}" target="_blank" class="view"><span class="pe-7s-look"></span></a>{{/url}}
        {{^url}}<a href="#" class="delete"><span class="pe-7s-close"></span></a>{{/url}}</span></div>
  </ignore>
</script>