
<script id="template-popup-delete" type="x-tmpl-mustache">
  <ignore>
    <div class="popup popup-delete"><a href="#" class="popup-close"><i class="pe-7s-close"></i></a>
      <div class="popup-head"><i class="pe-7s-trash"></i> {{popup_delete_heading}}</div>
      <div class="popup-text">
        <p>{{{popup_delete_text}}}</p>
      </div>
      <div class="popup-actions"><a href="#" class="action-ok left">{{popup_delete_btn_delete}}</a><a href="#" class="action-cancel right solid">{{popup_delete_btn_cancel}}</a></div>
    </div>
  </ignore>
</script>