
<script id="template-media-recorder" type="x-tmpl-mustache">
  <div class="voice-recorder">
    <div class="recorder-penel">
      <div class="option-wrapper cancel"><span class="option pe-7s-close-circle record-cancel"></span></div>
      <div class="option-wrapper record"><span class="option record record-start"><span class="overlay"></span></span></div>
      <div class="option-wrapper ok"><span class="option pe-7s-check record-ok"></span></div>
    </div>
    <div class="recorder-text"><span class="click-to-record record-start">{{clickToRecord}}</span><span class="timer">00:00</span></div>
  </div>
</script>