
<div class="viewport main">
  <div class="burger-wrapper">
    <div class="menu-buttons">
      <div class="burger"><a href="#"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></a></div>
      <div class="composer show"><a href="./member" class="static"></a></div>
    </div>
  </div>
  <div class="menu-area">
    <div class="menu">
      <h1 class="name">{{@current_user_username}}</h1><span class="sep"></span><a href="./settings" class="settings">My Settings</a><a href="#" class="tips">SnapBit Tips</a><a href="#" class="terms">Terms and Privacy</a><span class="sep"></span><a href="#" class="logout">Logout</a>
    </div>
  </div>
  <div class="viewport-pan settings page">
    <div class="settings-area">
      <div class="scroll-inner">
        <div class="container"></div>
      </div>
    </div>
  </div>
</div>