
<script id="template-legal-disclaimer" type="x-tmpl-mustache">
  <ignore>
    <div class="legal-head">
      <h1>{{#subpage}}<a href="javascript:history.back()" class="close"><span class="pe-7s-angle-left-circle"></span></a> {{/subpage}}Disclaimer  <a href="#timeline" class="minimize"><span class="pe-7s-close-circle"></span></a></h1>
    </div>
    <div class="legal-content">
      <p>Last updated: September 28, 2016</p>
      <h4>Limitation Of Liability</h4>
      <p>In no event shall SnapBits, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>
      <h4>Disclaimer</h4>
      <p>Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>
      <p>SnapBits its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.</p>
      <h4>Exclusions</h4>
      <p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.</p>
      <h4>Governing Law</h4>
      <p>This Disclaimer shall be governed and construed in accordance with the laws of New York, United States, without regard to its conflict of law provisions.</p>
      <p>Our failure to enforce any right or provision of this Disclaimer will not be considered a waiver of those rights. If any provision of this Disclaimer is held to be invalid or unenforceable by a court, the remaining provisions of this Disclaimer will remain in effect.</p>
      <h4>Changes</h4>
      <p>We reserve the right, at our sole discretion, to modify or replace this Disclaimer at any time. If a revision is material we will provide at least 30 days notice prior to any new disclaimer taking effect. What constitutes a material change will be determined at our sole discretion.</p>
      <p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised disclaimer. If you do not agree to the new diclaimer, you are no longer authorized to use the Service.</p>
      <h4>Contact Us</h4>
      <p>If you have any questions about this Disclaimer, please contact us.</p>
    </div>
  </ignore>
</script>