
<script id="template-sidebar-area" type="x-tmpl-mustache">
  <div class="logo-wrapper"><img src="./assets/img/logo.png" srcset="./assets/img/logo@2x.png 2x"/></div>
  <div class="forms-wrapper"></div>
  <div class="steps-wrapper"></div>
  <footer class="footer-landing">
    <div class="text">
      <p>© SnapBits 2016</p>
    </div>
    <div class="social">
      <ul>
        <li><a href="https://twitter.com/stop_forgetting" target="_blank"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://www.facebook.com/snapbits.io/" target="_blank"><span class="fa fa-facebook"></span></a></li>
        <li><a href="https://www.linkedin.com/company/snapbits" target="_blank"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="https://www.instagram.com/snapbitsapp/?hl=en" target="_blank"><span class="fa fa-instagram"></span></a></li>
      </ul>
    </div>
  </footer>
</script>