
<div class="viewport main landing">
  <div class="mob-menu">
    <div class="logo-wrapper"><a href="#" class="home active"><img src="./assets/img/logo-mob.png" srcset="./assets/img/logo-mob@2x.png 2x"/></a></div>
    <div class="menu-wrapper"><a href="#login" class="login">Log in</a></div>
  </div>
  <div class="viewport-pan normal landing">
    <div class="sidebar login-area">
      <div class="scroll-inner"></div>
    </div>
    <div class="page-content login-content">
      <div class="scroll-inner"></div>
    </div>
  </div>
</div>
<script>
  window.fbAsyncInit = function() {
   FB.init({
    appId      : '1070420569718108',
    xfbml      : true,
    version    : 'v2.7'
   });
  };
  
  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  
  window.twttr = (function (d,s,id) {
   var t, js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
   js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
   return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"))
</script>