
<script id="template-banner" type="x-tmpl-mustache">
  <div class="banner">
    <div class="banner-nav">
      <div class="scroll-down"><a href="#"><i class="fa fa-angle-down"></i></a></div>
    </div>
    <div data-img="./assets/img/banners/1_Snapbits_SignUp.jpg" class="banner_slide">
      <div class="container">
        <div class="banner-content">
          <h1>Welcome to <br><strong style="color:#ffffff;">SnapBits</strong></h1>
          <p>
            The easiest way to securely store and retrieve bits of information <br>
            including notes, images, audio, links, documents and more. Whenever. Wherever.
            
          </p>
        </div>
      </div>
    </div>
    <div data-img="./assets/img/banners/2_Snapbits_SignUp.jpg" class="banner_slide">
      <div class="container">
        <div class="banner-content">
          <h1>Use SnapBits to <br><strong style="color:#ffffff;">collect ideas</strong></h1>
          <p>
            Store and access all your inspiration in one neat place, <br>
            from images and text bits to voice notes and documents.
          </p>
        </div>
      </div>
    </div>
    <div data-img="./assets/img/banners/3_Snapbits_SignUp.jpg" class="banner_slide">
      <div class="container">
        <div class="banner-content">
          <h1>Use SnapBits to <br><strong style="color:#ffffff;">keep secrets</strong></h1>
          <p>
            Secure your undercover detective work and passwords so they don't <br>
            fall into the wrong hands.
            
          </p>
        </div>
      </div>
    </div>
    <div data-img="./assets/img/banners/4_Snapbits_SignUp.jpg" class="banner_slide">
      <div class="container">
        <div class="banner-content">
          <h1>Use SnapBits to <br><strong style="color:#ffffff;">plan ahead</strong></h1>
          <p>
            Prepare for that next important meeting or plan your next holiday. <br>
            You can even set reminders to remember important bits at certain dates.
            
          </p>
        </div>
      </div>
    </div>
    <div data-img="./assets/img/banners/5_Snapbits_Login.jpg" class="banner_slide">
      <div class="container">
        <div class="banner-content">
          <h1>Use SnapBits to <br><strong style="color:#ffffff;">store memories</strong></h1>
          <p>
            Save photos of special occasions or keep a diary by recording <br>
            voice notes. Now you have no excuses not to remember.
            
          </p>
        </div>
      </div>
    </div>
  </div>
</script>
<script id="template-banner-login" type="x-tmpl-mustache">
  <div class="banner">					
    <div data-img="./assets/img/banners/1_Snapbits_SignUp.jpg" class="banner_slide">
      <div class="container">
        <div class="banner-content">
          <h1>Welcome to <br><strong style="color:#ffffff;">SnapBits</strong></h1>
          <p>
            The easiest way to securely store and retrieve bits of information <br>
            including notes, images, audio, links, documents and more. Whenever. Wherever.
          </p>
        </div>
      </div>
    </div>
  </div>
</script>