
<script id="template-microsite" type="x-tmpl-mustache">
  <div class="microsite">
    <div class="micro-nav">
      <div class="container">
        <ul class="nav-left">
          <li><a href="#" data-target="micro-howitworks">Getting started</a></li>
          <li><a href="#" data-target="micro-features">Features</a></li>
          <li><a href="#" data-target="micro-plans">Plans</a></li>
          <li><a href="#" data-target="micro-reviews">Reviews</a></li>
        </ul>
        <ul class="nav-right">
          <li><a href="#tos">Terms & Privacy</a></li>
          <li><a href="#" class="white login"><strong>Log in</strong></a></li>
        </ul>
      </div>
    </div>
    <div class="micro-howitworks">
      <div class="container">
        <h1>Getting <strong>started.</strong></h1>
        <p>
          It's super simple to get your SnapBits account up and running. 
          Simply follow the steps below and you'll be saving bits in a snap!
        </p>
      </div>
      <div class="steps">
        <div class="step step-1 left">
          <div class="container">
            <div class="step-content">
              <div class="number"><span>1</span></div>
              <div class="content">
                <h2>First, <strong> sign up.</strong></h2>
                <p>
                  No pressure. We've included a free plan so there really is no reason to sign up. 
                  You can upgrade at any time should you wish to. You can view our available 
                  plans <a class="scroll-link" href='#' data-target="micro-plans">here</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="step step-2 right">
          <div class="container">
            <div class="step-content">
              <div class="number"><span>2</span></div>
              <div class="content">
                <h2>Start <strong>adding bits.</strong></h2>
                <p>
                  Once you've signed up it's as simple as starting to add bits. 
                  You can add images, text, links, documents, lists, voice recordings 
                  and reminders. 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="step step-3 left">
          <div class="container">
            <div class="step-content">
              <div class="number"><span>3</span></div>
              <div class="content">
                <h2><strong>Manage</strong> your bits.</h2>
                <p>
                  Bits can be colour coded and you can add descriptive tags so you can easily 
                  find them whenever, wherever whether on your computer, tablet or smartphone. 
                  You'll never be without your bits.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="micro-carousel"><a href="#" class="owl-carousel-nav nav-prev"><i class="fa fa-angle-left"></i></a><a href="#" class="owl-carousel-nav nav-next"><i class="fa fa-angle-right"></i></a>
      <div class="owl-carousel-wrapper">
        <div class="carousel-item">
          <div class="img-wrapper"><img src="assets/img/carousel/thumb_1.png" srcset="assets/img/carousel/thumb_1@2x.png 2x"/></div>
          <div class="text">Your bits listed<br>chronologically</div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img src="assets/img/carousel/thumb_1.png" srcset="assets/img/carousel/thumb_1@2x.png 2x"/></div>
          <div class="text">Search by keyword,<br>date, tag or colour</div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img src="assets/img/carousel/thumb_1.png" srcset="assets/img/carousel/thumb_1@2x.png 2x"/></div>
          <div class="text">Compose your bit by<br>adding text, images or audio</div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img src="assets/img/carousel/thumb_1.png" srcset="assets/img/carousel/thumb_1@2x.png 2x"/></div>
          <div class="text">Search by keyword,<br>date, tag or colour</div>
        </div>
      </div>
    </div>
    <div class="micro-features">
      <div class="container">
        <h1><strong>Features.</strong></h1>
        <div class="features-grid">
          <div class="features-row">
            <div class="feature-col">
              <div class="feature-thumb"><img src="assets/img/features/icon_1.png" srcset="assets/img/features/icon_1@2x.png 2x"/></div>
              <div class="feature-text">
                <h3>Store information</h3>
                <p>
                  SnapBits allows you to store bits and pieces of 
                  information in a cloud based storage facility.
                </p>
              </div>
            </div>
            <div class="feature-col">
              <div class="feature-thumb"><img src="assets/img/features/icon_2.png" srcset="assets/img/features/icon_2@2x.png 2x"/></div>
              <div class="feature-text">
                <h3>Totally safe & secure</h3>
                <p>
                  Add an extra layer of security by password protecting 
                  sensitive bits.
                </p>
              </div>
            </div>
          </div>
          <div class="features-row">
            <div class="feature-col">
              <div class="feature-thumb"><img src="assets/img/features/icon_3.png" srcset="assets/img/features/icon_3@2x.png 2x"/></div>
              <div class="feature-text">
                <h3>Multi media storage</h3>
                <p>
                  Store a wide variety of content including text, images, 
                  voice recordings and documents.
                </p>
              </div>
            </div>
            <div class="feature-col">
              <div class="feature-thumb"><img src="assets/img/features/icon_4.png" srcset="assets/img/features/icon_4@2x.png 2x"/></div>
              <div class="feature-text">
                <h3>Super simple to use</h3>
                <p>
                  The intuitive interface allows you to easily gather, 
                  storing and retrieve bits of information.
                </p>
              </div>
            </div>
            <div class="feature-col">
              <div class="feature-thumb"><img src="assets/img/features/icon_5.png" srcset="assets/img/features/icon_5@2x.png 2x"/></div>
              <div class="feature-text">
                <h3>Always accessible</h3>
                <p>
                  SnapBits is cross-platform compatible so you can store 
                  and access your bits from any computer, tablet or smartphone.
                </p>
              </div>
            </div>
          </div>
          <div class="features-row">
            <div class="feature-col">
              <div class="feature-thumb"><img src="assets/img/features/icon_6.png" srcset="assets/img/features/icon_6@2x.png 2x"/></div>
              <div class="feature-text">
                <h3>No storage limit</h3>
                <p>
                  There is absolutely no limit on the amount of bits you 
                  can store in your SnapBits account.
                </p>
              </div>
            </div>
            <div class="feature-col">
              <div class="feature-thumb"><img src="assets/img/features/icon_7.png" srcset="assets/img/features/icon_7@2x.png 2x"/></div>
              <div class="feature-text">
                <h3>Plan & set reminders</h3>
                <p>
                  You can add time based reminders to bits to help 
                  you remember.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="micro-plans">
      <div class="container">
        <h1><strong>Plans.</strong></h1>
        <div class="plans">
          <div class="plan blue">
            <div class="plan-head">
              <h2><strong>Free</strong> limited</h2>
              <p>and you can unlock all features through sharing.</p>
            </div>
            <div class="plan-features">
              <p>With this plan you can:</p>
              <ul class="features">
                <li>Add text bits</li>
                <li>Tag and colour code bits</li>
                <li class="locked">Add images, audio and upload files</li>
                <li class="locked">Set reminders</li>
                <li class="locked">Lock bits for extra security</li>
              </ul>
              <p>
                When you are ready, follow simple instructions to upgrade your free account to the full 
                plan by sharing the SnapBits goodness with your friends.
              </p>
            </div>
          </div>
          <div class="plan green">
            <div class="plan-head">
              <h2>Only <strong>$1.95</strong> <em>PM</em></h2>
              <p>for the full suite of features SnapBits offers!</p>
            </div>
            <div class="plan-features">
              <p>With this plan you can:</p>
              <ul class="features">
                <li>Add text bits</li>
                <li>Tag and colour code bits</li>
                <li>Add images, audio and upload files</li>
                <li>Set reminders</li>
                <li>Lock bits for extra security</li>
              </ul>
              <p>
                You have full control of your account and have the ability to pause your subscription 
                at any time without losing your stored bits.
              </p>
            </div>
          </div>
        </div><a href="#" class="to-signup"><i class="icon ion-ios-arrow-back"></i> Sign up to get started</a>
      </div>
    </div>
    <div class="micro-reviews">
      <div class="container">
        <h1><strong>Reviews.</strong></h1>
      </div>
      <div class="review-carousel"><a href="#" class="owl-carousel-nav nav-prev"><i class="fa fa-angle-left"></i></a><a href="#" class="owl-carousel-nav nav-next"><i class="fa fa-angle-right"></i></a>
        <div class="owl-review-carousel-wrapper">
          <div class="review">
            <h3>Name of Reviewer</h3>
            <h4>POSITION OR PUBLICATION</h4>
            <p>
              Lorem ipsum dolor sit amet, usu consul electram eu, duo ea sale dignissim
              definitiones. Eu agam nihil vis, utamur commodo expetenda ne per.
              Reque animal electram ut usu. Ea omittam definitiones sit, ne scaevola
              antiopam interpretaris vis. Has inani voluptua eu, at wisi malorum consectetuer
              ius, ius et inani homero percipitur.
            </p>
            <div class="rating four"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
          </div>
          <div class="review">
            <h3>Name of Reviewer</h3>
            <h4>POSITION</h4>
            <p>
              Lorem ipsum dolor sit amet, usu consul electram eu, duo ea sale dignissim
              definitiones. Eu agam nihil vis, utamur commodo expetenda ne per.
              Reque animal electram ut usu. Ea omittam definitiones sit, ne scaevola
              antiopam interpretaris vis. Has inani voluptua eu, at wisi malorum consectetuer
              ius, ius et inani homero percipitur.
            </p>
            <div class="rating three"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>