
<div class="plans">
  <div class="plan blue">
    <div class="plan-head">
      <h2><strong>Free</strong> limited</h2>
      <p>with the option to <strong>unlock features through sharing</strong></p>
    </div>
    <div class="plan-features">
      <p>With this plan you'll be able to:</p>
      <ul class="features">
        <li>Add text bits</li>
        <li>Tag your bits with keywords and colours</li>
        <li class="locked">Add images, audio and upload files</li>
        <li class="locked">Set reminders</li>
        <li class="locked">Lock your  bits for extra security</li>
      </ul>
      <p>
        Simply unlock the rest of the features by sharing Snapbits on 
        <strong>Facebook, Twitter and to 5 email contacts!</strong>
      </p>
    </div>
  </div>
  <div class="plan green">
    <div class="plan-head">
      <h2>Only <strong>$1.95</strong> <em>PM</em></h2>
      <p>to get access to all the great features that Snapbits offers!</p>
    </div>
    <div class="plan-features">
      <p>With this plan you'll be able to:</p>
      <ul class="features">
        <li>Add text bits</li>
        <li>Tag your bits with keywords and colours</li>
        <li>Add images, audio and upload files</li>
        <li>Set reminders</li>
        <li>Lock your  bits for extra security</li>
      </ul>
      <p>
        Possibly write something here about being able to pause subscription
        without losing information!?
      </p>
    </div>
  </div>
</div>