
<script id="template-setup-two" type="x-tmpl-mustache">
  <ignore>
    <div class="signup-step-content">
      <div class="container-small">
        <div class="step-two">
          <h1>Make it official</h1>{{#isFree}}
          <p>
            Thanks for signing up to Snapbits! Unfortunately, the free version has some limitations, but you can get that fixed by<br><strong>sharing it with your friends!</strong>
            
          </p>
          <div class="share-card small facebook {{#shared_fb}}done{{/shared_fb}}">
            <div class="small-icon-wrapper"><i class="ion-social-facebook-outline"></i></div>
            <div class="heading-wrapper">
              <h3>Share on Facebook</h3>
            </div>
            <div class="button-wrapper"><i class="ion-ios-checkmark-outline"></i><a href="#" class="share-fb-btn">Share</a></div>
          </div>
          <div class="share-card small twitter {{#shared_twitter}}done{{/shared_twitter}}">
            <div class="small-icon-wrapper"><i class="ion-social-twitter-outline"></i></div>
            <div class="heading-wrapper">
              <h3>Share on Twitter</h3>
            </div>
            <div class="button-wrapper"><i class="ion-ios-checkmark-outline"></i><a href="https://twitter.com/intent/tweet?url=http://jade-lang.com/reference/code/" class="share-twitter-btn">Share</a></div>
          </div>
          <div class="share-card email {{#shared_email}}done{{/shared_email}}">
            <div class="small-icon-wrapper"><i class="pe-7s-mail"></i></div>
            <div class="heading-wrapper">
              <h3>Share with 5 email contacts</h3>
            </div>
            <div class="fields-wrapper">
              <p>
                Please provide the email addresses of at least five contacts with whom
                you’d like to share the Snapbits goodness.
              </p>
              <div class="email-adresses">
                <div class="field-group">
                  <input type="email" name="emails[]" value="" placeholder="#1 Email address..."/>
                </div>
                <div class="field-group">
                  <input type="email" name="emails[]" value="" placeholder="#2 Email address..."/>
                </div>
                <div class="field-group">
                  <input type="email" name="emails[]" value="" placeholder="#3 Email address..."/>
                </div>
                <div class="field-group">
                  <input type="email" name="emails[]" value="" placeholder="#4 Email address..."/>
                </div>
                <div class="field-group">
                  <input type="email" name="emails[]" value="" placeholder="#5 Email address..."/>
                </div>
              </div>
            </div>
            <div class="button-wrapper"><i class="ion-ios-checkmark-outline"></i><a href="#" class="disabled share-email-btn">Share</a></div>
          </div>
          <div class="step-skipper"><a href="#">Skip this step </a></div>{{/isFree}}
          {{^isFree}}
          <p>
            Thanks for choosing to subscribe to Snapbits for <strong>$1.95 per month</strong>. Please click on the button below
            to securely complete the payment process through <strong>Paypal</strong>.
          </p>
          <div class="paypal-button">
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick"/>
              <input type="hidden" name="hosted_button_id" value="{{paypalButtonID}}"/>
              <input type="hidden" name="custom" value="{{tracking_json}}"/>
              <input type="image" name="submit" src="./assets/img/paypal-btn.png"/>
            </form>
          </div>{{/isFree}}
        </div>
      </div>
    </div>
  </ignore>
</script>